.git
abrt
#bash
btop
dconf
evolution
gnome-session
goa-1.0
gtk-3.0
gtk-4.0
ibus
#kitty
libreoffice
#lsd
matplotlib
nautilus
#nvim
procps
pulse
#starship
#tmux
vlc
yelp
.gitignore
.gsd-keyboard.settings-ported
#confupdate.sh
gnome-initial-setup-done
mimeapps.list
monitors.xml
tmux-client-4288.log
tmux-server-4290.log
user-dirs.dirs
user-dirs.locale
